* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    background: no-repeat;
    background-image: url('./images/burger-art.png');
    background-size: 780px 720px;
    background-position: left center;
    padding: 65px 150px 120px 0;
    background-position: 0px 92px;
    height: 100vh;
}


.menu {
    background-color: #90E051;
    width: 686px;
    border-radius: 69px;
    display: flex;
    gap: 60px;
    padding: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.menu-btn{
    position: absolute;
    width: 265px;
    height: 63px;
    border-radius: 17.5px;
    font-size: 22px;
    letter-spacing: -2.5%;
    font-weight: 700;
    font-family: Rubik;
    border: none;
    color: #90E051;
    background-color: white;
    bottom: 90px;
    z-index: 10;
    cursor: pointer;
    transition-duration: 300ms;
}

.menu-btn:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
    border: 3px solid #90E051;
}

.menu-block{
    display: flex;
    gap: 34px;
}

.menu-block.one{
    opacity: 0.80;
}

.menu-block.two{
    opacity: 0.55;
}

.card{
    position: relative;
    background-color: white;
    width: 232px;
    height: 253px;
    border-radius: 23px;
    padding: 22px;
    letter-spacing: -2.7%;
    font-family: Rubik;
}

.card-main{
margin: 60px 0 0;
}

.card-title{
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    margin: 0 0 14px;
}

.card-img{
    position: absolute;
    bottom: 175px;
    right:50px;
}

.card-ingredients{
    max-width: 176px;
    font-size: 14.2px;
    line-height: 17px;
    font-family: Rubik;
    font-weight: 500;
    margin: 0 0 4px;
}


.review-star{
    color: #FFA800;
    font-size: 22px;
}

.card-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 0 ;
}

.card-price{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #90E051;
}

.card-btn{
    width: 35px;
    height: 35px;
    background-color: #90E051;
    font-size: 25px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
}